<?xml version="1.0"?>

<robot name="dragoon" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:include filename="$(find dragoon_simulation)/urdf/dragoon_macros.xacro"/>

	<material name="orange">
		<color rgba="1.0 0.42342 0.039215 1.0"/>
	</material>
	<material name="black">
		<color rgba="0.0 0.0 0.0 1.0"/>
	</material>

	<link name="link_chassis" >
		<!-- pose and inertial -->
		<pose> 0 0 0.1 0 0 0 </pose>

		<inertial>
			<mass value="3.59"/>
			<origin rpy="0 0 0" xyz="0 0.0 0" />
			<inertia ixx="0.05" iyy="0.04" izz="0.08" ixy="0" ixz="0" iyz="0" />
		</inertial>

		<!-- collision and body mesh -->
		<collision name="link_chassis_collision" >
			<geometry>
				<mesh filename="package://dragoon_simulation/urdf/meshes/dragoon_base.dae" scale="1 1 1"/>
			</geometry>
		</collision>

		<visual>
			<origin rpy="0 0 0" xyz="0 0 0" />
			<geometry>
				<mesh filename="package://dragoon_simulation/urdf/meshes/dragoon_base.dae" scale="1 1 1"/>
			</geometry>
			<material name="orange"/>
		</visual>
	</link>

	<xacro:wheel_link name="wheel_1_RF" origin_rpy="0 0 0" origin_xyz="0 0 0"/>
	<xacro:wheel_joint child="wheel_1_RF" parent="link_chassis" origin_xyz="0.1397 0.12764 0.02604" origin_rpy="0 0 0" />

	<xacro:wheel_link name="wheel_2_LF" origin_rpy="0 0 0" origin_xyz="0 0 0"/>
	<xacro:wheel_joint child="wheel_2_LF" parent="link_chassis" origin_xyz="0.1397 -0.12764 0.02604" origin_rpy="0 0 0" />

	<xacro:wheel_link name="wheel_3_RB" origin_rpy="0 0 0" origin_xyz="0 0 0"/>
	<xacro:wheel_joint child="wheel_3_RB" parent="link_chassis" origin_xyz="-0.1397 0.12764 0.02604" origin_rpy="0 0 0" />

	<xacro:wheel_link name="wheel_4_LB" origin_rpy="0 0 0" origin_xyz="0 0 0"/>
	<xacro:wheel_joint child="wheel_4_LB" parent="link_chassis" origin_xyz="-0.1397 -0.12764 0.02604" origin_rpy="0 0 0" />

	<gazebo>	
		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
			<robotNamespace>/</robotNamespace>
		</plugin>
	</gazebo>
</robot>