<launch>
	<!-- globals -->
	<param name="prop_gain" value="1.0" type="double"/>
	<param name="der_gain" value="10.0" type="double"/>
	<param name="int_gain" value="0.0" type="double"/>

	<!-- launch gazebo using an empty world launch file-->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<!-- <arg name="world_name" value="$(find dragoon_simulation)/worlds/dragoon_rubble.world"/> -->
		<arg name="world_name" value="$(find dragoon_simulation)/worlds/dragoon.world"/>
		<arg name="verbose" value="true"/>
	</include>


	<node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-file $(find dragoon_simulation)/gazebo_model/dragoon/model.sdf -sdf -model dragoon"/>

	<!-- set up the visualization to interact with the simulation -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find dragoon_simulation)/rviz/dragoon.rviz" />
		<node name="marker_node" pkg="dragoon_simulation" type="marker_node">
		<param name="marker_frame" value="dragoon_body"/>
	</node>
</launch>